
:root {
    --cornFlower: #91D4EA;
    --hintOfYellow: #FAFDED;
    --frenchRose: #f04066;
    --dullLavender: #A8A7E5;
    --bayOfMany: #27367D;

    --font-one: 'Fondamento', cursive;
    --font-two: 'Open Sans', sans-serif;
}